:root {
  --white: #fff;
  --white-80: rgba(255, 255, 255, 0.8);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-30: rgba(255, 255, 255, 0.3);
  --green: #27f4f8;
  --green-2: #00f89a;
  --green-hover: #1cde8d;
  --black: #0c1a22;
  --gray: #5a6a75;
  --transparent: transparent;

  --bg-transparent: rgba(17, 31, 39, 0.6);

  --time: ease-in-out 0.25s;
}
